# Ignore PDK/Cell Library formats
*.lib
*.db
*.lef
*.def
*.gds
*.mil
*.view
*.tlef

# Hammer files, logs, reports that might contain some info to be safe
build/*
hammer.log
output.json

# allow to personally modify the toplevel based on what you are working on.
# do not push this to remote since people will have merge conflicts!
cfg/cfg.yml


# waveforms / simulation files
*.vvp
*.vcd

