# Ignore PDK/Cell Library formats
*.lib
*.db
*.lef
*.def
*.gds
*.mil
*.view
*.tlef

# Hammer files, logs, reports that might contain some info to be safe
build/*
hammer.log
output.json

# waveforms / simulation files
*.vvp
*.vcd

